@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

/* Universal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: hidden;
    -webkit-transition: 1.5s ease background;
    -moz-transition: 1.5s ease black;
    -o-transition: 1.5s ease background;
    transition: 1.5s ease background;
}

.bodych {
    background: #383838;
}


/* ScrollBar  */

html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-track {
    background-color: #000;
}

html::-webkit-scrollbar-thumb {
    background: #0a756e;
}


/* Hide ScollBar when Mobile .nav is open */

.hideWebScrollbar ::-webkit-scrollbar {
    display: none;
    appearance: none;
    visibility: hidden;
    pointer-events: none;
}

.hideWebScrollbar {
    overflow: hidden !important;
}


/* Loader  */

.loader-container {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

.loader {
    text-align: center;
}

.loader-container .loader img {
    width: 90px;
    margin: 0 auto;
}

.loader-container .loader h1 {
    font-size: 25px;
}


/* TOp .nav / Header */

.nav {
    display: flex;
    height: 80px !important;
    width: 100%;
    background: #000;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    position: relative;
}

.nav .logo {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 80px;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    line-height: 75px;
}

.nav ul li {
    margin: 0 5px;
}

.nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.nav ul li a.active,
.nav ul li a:hover {
    color: #000;
    background: #fff;
}

.nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

.bussines-notif {
    width: 100%;
    background-color: rgb(179, 39, 39);
    color: #fff;
    height: 35px;
}

.bussines-notif p {
    padding: 4px 8px;
    text-align: center;
    text-transform: capitalize;
}


/* Section 1 */

.cotainer1 {
    scroll-snap-align: start;
    position: relative;
    overflow: hidden;
    --heading-font-family: "Poppins", sans-serif;
    --body-font-family: "Lato", sans-serif;
    text-align: center;
    margin: 0;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    height: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--body-font-family);
    border-radius: 0 0 50% 50% /0 0 125% 125%;
}

.heading {
    width: 100%;
    font-size: 20px;
    margin-top: 25px;
}

.text-top2 {
    width: 100%;
    margin: 15px auto;
    font-family: poppins;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.price-comparison {
    display: flex;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 10px;
    margin-top: 1.1rem;
}

.price-column {
    background-color: white;
    box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
    padding: 3rem 1.5rem;
    max-width: 350px;
    border-radius: 33px;
    padding-top: 1.5rem;
    text-align: left;
}

.price-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--heading-font-family);
    font-weight: bold;
}

.price {
    font-size: 2.5rem;
    display: flex;
}

.dollar-sign {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-right: 0.25rem;
}

.per-month {
    font-size: 0.75rem;
    align-self: flex-end;
    margin-bottom: 1.1rem;
    text-transform: uppercase;
}

.plan-name {
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.feature {
    font-family: poppins;
    margin: 0.5rem 0;
    text-align: left;
}

.feature img {
    height: 1.1em;
    width: 1.1em;
    margin-right: 0.5rem;
}

.cta {
    font-family: poppins;
    border: none;
    background-color: #1b1b1b;
    color: white;
    width: 100%;
    padding: 0.75rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 3rem;
    transition: 400ms;
    transform: scale(1);
    font-weight: bold;
}

.cta:hover,
.cra:focus {
    transform: scale(1.1);
}

.form-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    background: #fff;
    -webkit-transition: background 1.5s ease;
    -moz-transition: background 1.5s ease;
    -o-transition: background 1.5s ease;
    transition: background 1.5s ease;
    margin: 50px auto 10px auto;
}

.contact-container .text {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    background: #fff;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 50px;
}

.contact-container form {
    transition: background 0.5s ease;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
    border-radius: 15px;
    padding: 30px 0 30px 0;
    background: #434343;
}

.changedFormbg form {
    background: #fff;
}

.changedFormbg {
    background: #383838;
}

.contact-container form .form-row {
    display: flex;
    margin: 32px 0;
}

form .form-row .input-data {
    width: 100%;
    height: 75px;
    margin: 5px 20px;
    position: relative;
}

form .form-row .textarea {
    height: 70px;
}

.input-data input,
.textarea textarea {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    outline: none;
    padding: 8px;
}

.input-data input:focus~label,
.textarea textarea:focus~label,
.input-data input:valid~label,
.textarea textarea:valid~label {
    transform: translateY(-27px);
    font-size: 20px;
    color: #000;
}

.textarea textarea {
    resize: none;
    padding-top: 10px;
}

.input-data label {
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
    left: 0;
    padding-left: 8px;
}

.textarea label {
    width: 100%;
    bottom: 40px;
    background: #fff;
}

.input-data .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}

.input-data .underline:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #03c8a8;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

input,
input:before,
input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

.input-data input:valid~.underline:before,
.input-data input:focus~.underline:before,
.textarea textarea:focus~.underline:before,
.textarea textarea:valid~.underline:before {
    transform: scale(1);
}

.submit-btn .input-data {
    overflow: hidden;
    height: 45px !important;
    width: 25% !important;
}

.submit-btn .input-data .inner {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: #000;
    /* background: -webkit-linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%); */
    transition: all 0.4s;
}

.submit-btn .input-data:hover .inner {
    left: 0;
}

.submit-btn .input-data input {
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.success-msg-box-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(117, 117, 117, 0.335);
    position: fixed;
    top: 0;
    visibility: hidden;
    z-index: 0;
    display: none;
}

.success-msg-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    padding: 30px;
    z-index: 0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.609);
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-success {
    display: block;
    visibility: visible;
    z-index: 999;
}

.success-msg-box .cl {
    position: absolute;
    top: 8px;
    right: 12px;
    color: rgb(219, 33, 33);
    cursor: pointer;
}

.success-msg-box .gr {
    color: green;
}

.success-msg-box h4 {
    width: 100%;
    margin: auto;
    font-size: 3vh;
    text-transform: capitalize;
    margin-top: 8px;
}

.sucMsg {
    background-color: rgb(82, 211, 82);
    margin: 15px auto;
    padding: 8px;
    color: #fff;
    border-radius: 0px 0 5px 5px;
    visibility: hidden;
}


/* FAQ section */

.faq-sec {
    min-height: 100%;
    width: 100%;
    /* background: #383838; */
    color: #fff;
    padding: 25px;
}

.faq-title {
    width: 100%;
    text-align: center;
    padding: 15px;
    margin: 15px auto;
    font-family: poppins;
    font-size: 3rem;
    color: #fff;
    font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.faq-wrapper {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    margin: 25px auto;
}

.faq-quetion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 10px;
}

.faq-quetion h3 {
    font-size: 1.8rem;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.faq-answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}

.faq-quetion i {
    transition: transform 1s ease;
}

.faq-active .faq-quetion {
    color: #03c8a8;
}

.faq-active {
    border-bottom: 2px solid #03c8a8;
}

.faq-active .faq-answer {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.faq-active i {
    transform: rotate(90deg);
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.portfolio-sec {
    max-width: 1150px;
    margin: 0 auto;
    overflow: hidden;
}

.portfolio-sec .faq-title {
    margin: 0 auto;
    margin-bottom: 30px;
}

.slider-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 15px 15px 25px 15px;
    margin: 0 auto;
    position: relative;
}

.swiper-container {
    width: 100%;
    height: 450px;
    overflow: hidden !important;
}

.swiper-slide {
    background-color: #fff;
    box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.116);
    border-radius: 8px;
}

.swiper-slide .slide-item-title {
    min-height: 20%;
    width: 100%;
    padding: 0 10px;
    text-align: center;
}

.swiper-slide .slide-item-title h3 {
    font-weight: 600;
    font-size: 25px;
    color: #03c8a8;
    font-family: var(--heading-font-family);
    width: 100%;
    padding: 10px 2px;
}

.swiper-slide .slide-item-img {
    width: 100%;
    height: 80%;
    overflow: hidden;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.swiper-slide .slide-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.swiper-button-next-unique,
.swiper-button-prev-unique {
    transform: translateY(-50%);
    margin-top: 0px;
    position: absolute;
    top: 50%;
    background-color: #fff !important;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.424);
    border-radius: 50%;
    width: 45px !important;
    height: 45px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.swiper-button-prev-unique,
.swiper-button-prev {
    left: -45px !important;
}

.swiper-button-next-unique,
.swiper-button-next {
    right: -40px !important;
}

.swiper-button-next-unique::after,
.swiper-button-prev-unique::after {
    color: #03c8a8;
    font-weight: 900;
    font-family: "FontAwesome";
    font-size: 35px !important;
    padding: 0;
    margin: 0 auto;
}

.swiper-button-next-unique::after {
    content: "\f105";
}

.swiper-button-prev-unique::after {
    content: "\f104";
}

.swiper-button-disabled {
    opacity: 0.1 !important;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background-color: #000 !important;
}

.swiper-pagination {
    margin-bottom: -10px !important;
    background-color: #03c8a8;
    box-shadow: -5px 5px 15px #000;
}

.swiper-pagination-bullet {
    background-color: #000 !important;
}


/* Footer */

footer {
    margin-top: 2rem;
}

footer ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    background: #151414;
    position: relative;
}

.footer-cta {
    width: 100%;
    border-bottom: 1px solid #373636;
}

.single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    width: 90%;
    display: inline-block;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #757575;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 15px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i {
    width: 40px;
    height: 40px;
    padding: 8px;
    text-align: center;
    border-radius: 50%;
    font-size: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px 35px 0;
}

.facebook-bg {
    background: #3b5998;
}

.twitter-bg {
    background: #55acee;
}

.google-bg {
    background: #ff5e14;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #03c8a8;
}

.footer-widget ul li {
    display: inline-block;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: #03c8a8;
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input:valid {
    border-bottom: 1px solid #54d40a;
}

.subscribe-form input {
    width: 100%;
    padding: 0 28px;
    background: #2e2e2e;
    border: none;
    border-bottom: 1px solid #03c8a8;
    color: #fff;
    outline: none;
    transition: 0.5s linear;
    height: 50px;
}

.is-invalid {
    border-bottom: 1px solid #03c8a8 !important;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: #03c8a8;
    padding: 0 20px;
    border: 1px solid #03c8a8;
    top: 0;
    height: 50px;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}

.copyright-area {
    background: #202020;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: #03c8a8;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: #03c8a8;
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}

@media only screen and (max-width: 1000px) {
    .nav {
        padding: 0 40px 0 50px;
    }
}

@media only screen and (max-width: 920px) {
    .nav .menu-btn i {
        display: block;
    }
    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }
    .nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100%;
        width: 100%;
        text-align: center;
        transition: all 0.3s ease;
        z-index: 9999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: scroll !important;
    }
    #click:checked~ul {
        left: 0;
    }
    .nav ul li {
        width: 100%;
        margin: 15px 0;
    }
    .nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked~ul li a {
        margin-left: 0px;
    }
    .nav ul li a.active,
    .nav ul li a:hover {
        background: none;
        color: cyan;
    }
    .cotainer1 {
        position: relative;
        background-color: #03c8a8;
        font-family: var(--body-font-family);
        border-radius: 0;
    }
}

@media (max-width: 768px) {
    .swiper-button-next-unique,
    .swiper-button-prev-unique {
        transform: translateY(-50%);
        margin-top: 0px;
        position: absolute;
        top: 50%;
        width: 35px !important;
        height: 35px !important;
    }
    .swiper-button-next-unique::after,
    .swiper-button-prev-unique::after {
        font-weight: 700;
        font-size: 25px !important;
    }
    .swiper-button-prev-unique,
    .swiper-button-prev {
        left: -25px !important;
    }
    .swiper-button-next-unique,
    .swiper-button-next {
        right: -25px !important;
    }
}

@media (max-width: 700px) {
    .nav {
        padding: 0 20px 0 30px;
    }
    .nav .logo {
        font-size: 25px;
        font-weight: 500;
    }
    .contact-container .text {
        font-size: 30px;
    }
    .contact-container form {
        padding: 15px;
    }
    .contact-container form .form-row {
        display: block;
    }
    form .form-row .input-data {
        margin: 35px 0 !important;
    }
    .submit-btn .input-data {
        width: 40% !important;
    }
    .faq-quetion h3 {
        font-size: 1.3rem;
    }
    .faq-answer p {
        font-size: 1rem;
    }
    .faq-quetion i {
        font-size: 14px;
    }
}

@media (max-width: 530px) {
    .heading {
        font-size: 16px;
        margin-top: 25px;
    }
    .text-top2 {
        margin: 12px auto;
        font-size: 14px;
        font-weight: 500;
    }
    .price-column {
        background-color: white;
        box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
        padding: 3rem;
        max-width: 320px;
    }
    .price {
        font-size: 2rem;
        display: flex;
    }
    .dollar-sign {
        font-size: 1.1rem;
        margin-top: 0.5rem;
        margin-right: 0.25rem;
    }
    .faq-sec {
        border-top: 0.5px solid rgb(126, 126, 126);
    }
    .success-msg-box {
        padding: 15px;
        width: 90%;
    }
    .sucMsg {
        font-size: 14px;
    }
}

@media only screen and (max-width: 420px) {
    .faq-quetion h3 {
        font-size: 1rem;
    }
    .faq-answer p {
        font-size: 0.8rem;
    }
    .portfolio-sec {
        padding: 0px;
    }
    .slider-container {
        width: 100%;
        padding: 0;
    }
    .swiper-container {
        width: 100%;
    }
    .swiper-button-prev-unique,
    .swiper-button-prev {
        left: 0px !important;
    }
    .swiper-button-next-unique,
    .swiper-button-next {
        right: 0px !important;
    }
}

@media only screen and (max-width: 300px) {
    .faq-quetion h3 {
        font-size: 1rem;
    }
    .faq-answer p {
        font-size: 0.8rem;
    }
}